/* PC/平板端样式（默认） */
.loading {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 3px solid var(--secondary-color);
  border-top-color: var(--text-color);
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

.small {
  width: 1.5rem;
  height: 1.5rem;
}

.small .spinner {
  width: 1.5rem;
  height: 1.5rem;
  border-width: 2px;
}

.medium {
  width: 2.5rem;
  height: 2.5rem;
}

.medium .spinner {
  width: 2.5rem;
  height: 2.5rem;
  border-width: 3px;
}

.large {
  width: 4rem;
  height: 4rem;
}

.large .spinner {
  width: 4rem;
  height: 4rem;
  border-width: 4px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 手机端样式 */
@media screen and (max-width: 768px) {
  .small {
    width: 1.25rem;
    height: 1.25rem;
  }

  .small .spinner {
    width: 1.25rem;
    height: 1.25rem;
    border-width: 2px;
  }

  .medium {
    width: 2rem;
    height: 2rem;
  }

  .medium .spinner {
    width: 2rem;
    height: 2rem;
    border-width: 2.5px;
  }

  .large {
    width: 3rem;
    height: 3rem;
  }

  .large .spinner {
    width: 3rem;
    height: 3rem;
    border-width: 3px;
  }
}
